.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


.carouselContainer {
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  height: 800px; 
  /* Adjust as needed */
}

.thumbnailGallery {
  margin-top: 10px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Keep thumbnails in a single row */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.thumbnailWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.thumbnail {
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}

.activeThumbnail {
  border: 2px solid #007BFF; /* Highlight active thumbnail */
}






